.a1::before,
.a2::before,
.a2::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 2px solid rgba(255, 255, 255, 2);
  margin: -5px;
  z-index: -1;
}

.a1::before,
.a2::before {
  -webkit-animation: lineA 4s linear infinite;
  animation: lineA 4s linear infinite;
}

.a2::after {
  -webkit-animation: lineB 4s linear infinite;
  animation: lineB 4s linear infinite;
}

@-webkit-keyframes lineA {
  0%,
  100% {
    clip: rect(0, 100px, 2px, 0)
  }
  25% {
    clip: rect(0, 2px, 100px, 0)
  }
  50% {
    clip: rect(98px, 100px, 100px, 0)
  }
  75% {
    clip: rect(0, 100px, 100px, 98px)
  }
}

@keyframes lineA {
  0%,
  100% {
    clip: rect(0, 100px, 2px, 0)
  }
  25% {
    clip: rect(0, 2px, 100px, 0)
  }
  50% {
    clip: rect(98px, 100px, 100px, 0)
  }
  75% {
    clip: rect(0, 100px, 100px, 98px)
  }
}

@-webkit-keyframes lineB {
  0%,
  100% {
    clip: rect(98px, 100px, 100px, 0)
  }
  25% {
    clip: rect(0, 100px, 100px, 98px)
  }
  50% {
    clip: rect(0, 100px, 2px, 0)
  }
  75% {
    clip: rect(0, 2px, 100px, 0)
  }
}

@keyframes lineB {
  0%,
  100% {
    clip: rect(98px, 100px, 100px, 0)
  }
  25% {
    clip: rect(0, 100px, 100px, 98px)
  }
  50% {
    clip: rect(0, 100px, 2px, 0)
  }
  75% {
    clip: rect(0, 2px, 100px, 0)
  }
}
