<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JYDLCConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Dll\JYBaseDll;Dll\JYDriverDll;Dll\JYCommonDll;Dll\JYAppDll;Dll\JYService;Dll\JYExtraDll;"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <JYDLCConfig.Properties.Settings>
      <setting name="strUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="PortNum" serializeAs="String">
        <value />
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value />
      </setting>
      <setting name="Parity" serializeAs="String">
        <value />
      </setting>
      <setting name="DateBits" serializeAs="String">
        <value />
      </setting>
      <setting name="StopBit" serializeAs="String">
        <value />
      </setting>
      <setting name="ip" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value />
      </setting>
      <setting name="connmode" serializeAs="String">
        <value />
      </setting>
      <setting name="RcvTimeout" serializeAs="String">
        <value />
      </setting>
      <setting name="EquipType" serializeAs="String">
        <value />
      </setting>
    </JYDLCConfig.Properties.Settings>
  </userSettings>
</configuration>
